.main-chat
  .header
    .header__leftbox
      .header__leftbox--group 
        = @group.name
      .header__leftbox--member 
        - @group.group_users.each do |group_user|
          = group_user.user.name
    =link_to edit_group_path(@group), class: "header__edit-btn" do
      Edit
  .message
    = render @messages
  .message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
    